* {
    font-family: Helvetica;
}

h1 {
    text-align: center;
    color: darkslateblue;
}

nav, a {
    text-align: center;
    color: plum; 
}

h2 {
    color: rebeccapurple;
    padding: 10px;
    text-align: center;
    margin: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table {
    margin: auto;
    margin-bottom: 10px;
    width: 830px;
}

th {
    font-weight: bold;
    background-color: plum;
}

.code {
    background-color: thistle;
    font-family: monospace;
}

tr:hover {
    background-color: lavenderblush;
}

footer {
    text-align: center;
    padding-top: 20px;   
}

footer p {
    font-size: 12px;
}
